body {
    width: 100%;
    height: 100%;
    position: fixed;
     }

.content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    
     }    

.delight {
    font-family: 'Lato', sans-serif;
    font-size: 52px;
    line-height: 80px;
    color: #ecf0f1;
    }

.by {
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    line-height: 80px;
    color: #ecf0f1; 
}